/* GENERAL */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}
svg {
  display: block;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-body {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--main-dark-color);
  color: var(--main-white-color);
}
.site-body__home {
  background-image: url("../images/main-bg.png");
  background-size: 1600px;
  background-position: center top 700px;
  height: 6800px;
  background-repeat: no-repeat;
}
.body--dark .site-body__home {
  background-image: url("../images/main-bg.png");
}
/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}
