/* VARIABLES */
:root {
  --main-white-color: #ffffff;
  --main-porple-color: #6911ad;
  --main-blue-color: #5454d4;
  --main-dark-color: #000000;
<<<<<<< HEAD
  --card-dark-color: rgba(17, 19, 23, 0.5);
  --card-dark-border:#4E4E4E;
  --service-cards-color:rgba(14, 16, 20, 0.9);
=======
  --main-header-color: #17191db3;
<<<<<<< HEAD
  --main-teach-color: #0e1014e6;
=======
>>>>>>> c554123e65a1c1bc2a57f0e458530e40e8b8f9eb
>>>>>>> 9c0fa796946d09d43780cfd5381eb63ec467fb7e
}

.body--dark {
  --main-white-color: #000000;
  --main-porple-color: #6911ad;
  --main-blue-color: #5454d4;
  --main-dark-color: #ffffff;
<<<<<<< HEAD
  --card-dark-color: rgba(243, 243, 243, 0.5);
  --card-dark-border:#999;
  --service-cards-color:rgba(255, 255, 255, 0.9);



=======
  --main-header-color: #17191d1a;
<<<<<<< HEAD
  --main-teach-color: #ffffffe6;
=======
>>>>>>> c554123e65a1c1bc2a57f0e458530e40e8b8f9eb
>>>>>>> 9c0fa796946d09d43780cfd5381eb63ec467fb7e
}
