/* VARIABLES */
:root {
  --main-white-color: #ffffff;
  --main-porple-color: #6911ad;
  --main-blue-color: #5454d4;
  --main-dark-color: #000000;

  --service-color: #0e1014e6;
  --input-color: #272727;

  --card-dark-color: rgba(17, 19, 23, 0.5);
  --card-dark-border:#4E4E4E;
  --service-cards-color:rgba(14, 16, 20, 0.9);

  --main-header-color: #17191db3;

  --main-teach-color: #0e1014e6;


}

.body--dark {
  --main-white-color: #000000;
  --main-porple-color: #6911ad;
  --main-blue-color: #5454d4;
  --main-dark-color: #ffffff;

  --service-color: #ffffffe6;
  --input-color: #AAA;


  --card-dark-color: rgba(243, 243, 243, 0.5);
  --card-dark-border:#999;
  --service-cards-color:rgba(255, 255, 255, 0.9);



  --main-header-color: #17191d1a;

  --main-teach-color: #ffffffe6;

}
