.discussion{
  padding-bottom: 120px;
}

.discussion__box{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding: 60px 80px;
  background-color: var(--service-color);
  border: 1px solid #4E4E4E;
  backdrop-filter: blur(1px);
  border-radius: 20px;
}

.discussion__left{
  width: 100%;
  max-width: 640px;
}

.discussion__title{
  @include typography-styles(italic, 32px, 39px, 600);
  margin-top: 0;
  margin-bottom: 40px;
}

.form{
  width: 100%;
  max-width: 499px;
  flex-direction: row;
}

.form__input{
  width: 100%;
  display: block;
  margin-bottom: 25px;
  padding-bottom: 8px;
  color: var(--main-white-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--input-color);
  &:last-child{
    margin-bottom: 40px;
  }
  &:active{
    border: none;
    border-bottom: 1px solid var(--main-white-color);
  }
}

.services-title{
  @include typography-styles(normal, 24px, 29px, 600);
  margin-top: 0;
  margin-bottom: 34px;
}
.discussion__form{
  display: flex;
  flex-direction: row;
  max-width: 100%
}
.form__wrap{
  @include flexbox(space-between, start, row)
}

.discussion__left{
  margin-right: 30px;
}
.form__label{
  @include typography-styles(normal, 18px, 22px, 600);
  width: 100%;
  max-width: 208px;
  display: block;
  margin-bottom: 30px;
cursor: pointer;
  & input{
    margin-right: 5px;
  }
}
.chek-content{ 
  display: flex;
}
.online_shop:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.backend:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.crm:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.logotip:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.portal:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.web_design:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.mobilograf:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.Frontend:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.grafic_design:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.motion_design:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.online_shops:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.web_site:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}.smm_design:checked + .chek-content {
  .chek-box{ 
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 1.5px;
      top: 1.5px;
      background-color: #6911AD;
      border-radius: 4px;
    }
  }

}
.chek-box{ 
  position: relative;
  padding: 5px 9px 0px 9px;
  margin-right: 10px;
  height: 20px;
  display: block;
  border: 1px solid #AAAAAA;
border-radius: 4px;
}
.label-box{
  display: flex;
  align-items: start;
  margin-bottom: 30px;
  & .form__label{
    margin-bottom: 0;
  };

  & input{
    margin-right: 5px;
  }
}

.choice__wrap{
  margin-bottom: 25px;
  padding: 40px 61px 49px 61px;
  background-color: #5353531a;
  box-shadow: 20px 20px 40px rgba(241, 216, 253, 0.08);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.choice__list{
  @include list-unstyle();
  @include flexbox(space-between, center, row);
  flex-wrap: wrap;
}

.choice__item:nth-child(odd){
  margin-right: 10px;
}

.choice__img{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.choice__text{
  @include typography-styles(normal, 24px, 29px, 600);
  text-align: center;
}

.discussion__btn{
  width: 136px;
  height: 70px;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url("../images/client.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@include desktop-first(1300px) {

  .choice__img{
    width: 140px;
    height: 140px;
  }
}

@include desktop-first(1200px) {

  .discussion__box{
    padding: 30px;
    justify-content: space-between;
    flex-direction: row;
  }
  .form{
    margin: 0;
    flex-direction: row;
  }
  .choice__img{
    width: 110px;
    height: 110px;
  }
}

@include desktop-first(920px) {
  .discussion__box{
    padding: 20px;
    justify-content: center;
    flex-direction: column;
  }

  .discussion__title{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .discussion__right{
    margin: 0 auto;
  }

  .choice__text{
    font-size: 18px;
    line-height: 24px;
  }
  .form__wrap{
    flex-direction: column;
  }

  .form{
    margin: 0 auto;
  }

  .choice__wrap{
    padding: 30px;
  }

  .choice__img{
    width: 150px;
    height: 150px;
  }
}

@include desktop-first(450px) {

  .choice__img{
    width: 100px;
    height: 100px;
  }
}

@include desktop-first(375px) {
  .discussion__box{
    padding: 20px;
    flex-direction: column;
  }

  .discussion__title{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .form__label{
    font-size: 17px;
    line-height: 21px;
  }

  .discussion__form {
    max-width: 550px;
  }
  .services-title{
    font-size: 18px;
    line-height: 22px;
  }
  .form__wrap{
    flex-direction: column;
  }

  .choice__wrap{
    padding: 20px;
  }

  .choice__text{
    font-size: 16px;
    line-height: 19px;
  }

  .choice__img{
    width: 80px;
    height: 80px;
  }
  .discussion__btn-box{
    width: 100%;
    max-width: 179px;
  }
  .discussion__btn{
    width: 100%;
    padding: 13px 39px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-image: none;
    color: var(--main-white-color);
    background-color: #6911AD;
    border-radius: 141px;
  }
}
.discussion__mobile { 
  display: none !important ;
}
.discussion__btn{
  display: block;
}

@include desktop-first(748px){
  .discussion__form {
    flex-direction: column;
  }
  .discussion__mobile { 
    display: block!important;
  }
  .discussion__btn{
    display: none;
  }
}